@inject Programer.Core.Services.IProductGroupService ProductGroup
@{
    ViewData["Title"] = "Product";
}
<header>
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div justify-content-center">
                    <div class="fontpg">
                        <ul id="portfolio-flters">

                            <li><a asp-controller="Home" asp-action="Product" class="nav-link active" aria-current="page">All</a></li>
                            @foreach (var item in await ProductGroup.GetAllAsync())
                            {
                                <li>
                                    <a asp-controller="ProductGroups" asp-action="Index" asp-route-id="@item.Id" asp-route-title="@item.Title">@item.Title</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>